#body {
  border: solid 2px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  border-radius: 15px;
  background-color: #170069;
}

#behind-screen {
  margin-top: auto;
  width: 99%;
  height: 150px;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 12%,
    rgba(253, 29, 29, 1) 52%,
    rgba(251, 255, 0, 1) 100%
  );
  border-radius: 15px;
  margin-right: auto;
}

#screen {
  display: grid;
  margin-top: -48px;
  margin-left: -92px;
  font-size: 35px;
  text-align: end;
  background-color: transparent;
  border: none;
}

#clear {
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 25px;
  border-radius: 40px;
  border: none;
}

#plus-minus {
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 25px;
  border-radius: 40px;
  border: none;
}

#percent {
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 25px;
  border-radius: 40px;
  border: none;
}

#divide {
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 25px;
  border-radius: 40px;
  border: none;
}

#buttons {
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 25px;
  border-radius: 40px;
  border: none;
}
